{% extends 'layout.html' %}

{% block body %}
<section class="hero is-primary is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Hello Visitor :)
          </p>
          <p class="subtitle">
            Visitor I assume that you are great person and try to make your life better. You can click the button to learn how to use this great app.
          </p>
          <a href="/learn" class="button is-primary is-light">Learn</a>
        </div>
      </div>
</section>

{% endblock body %}