{% extends 'layout.html' %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<section class="hero is-success">
<div class="hero-body">
<div class="row align-items-center justify-content-center">
<div class="col-md-4 col-lg-offset-4">
<h3>Login Page</h3>
<form method="post">
        {{render_field(form.username,class = "form-control")}}
        {{render_field(form.password,class = "form-control")}}
        <button class="button is-link is-focused">Login</button>
</form>
</div>
</div>
</div>
</section>
{% endblock body %}

